body {
  margin: 0;
  
 
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body .white {
  background-color: #efefef;
  
}
/*
Search   page style
*/
.searchposition {
  
}
.followname {
  font-weight: 500;
  color: rgb(145, 143, 143);
  margin-top: 5px;
  padding-left: 10px;
}
.facebook {
  border-radius: 50%;
    background: #3c579a;
  width:35px;
  height: 35px;
  text-align: center;
  padding-top: 2px;
}
.twitter {
  border-radius: 50%;
  background: #44cef5;
  width:35px;
  height: 35px;
  text-align: center;
  padding-top: 2px;
}
.footericon {
  fill: #fff;
}
.s_lt {
  font-size: 13px;
  color: rgb(145, 141, 141);
}
.searchstyle {
  font-size: 20px;
  font-weight: 500;
  color: rgb(112, 110, 110);
}
.searchname {
  font-size: 20px;
}
.flowof {
  float:right;
}
.inputstyle {
  text-align: right;
  width: 100%;
}
/*
Form upload   page style
*/
.pcsvuphs {
  font-size: 20px;
  font-weight: 500;
}
.bgcoloradmin {
   background-image: linear-gradient(to bottom,#fff  , rgb(233, 163, 163) ,#fff);
}

/*
admin navbar   page style
*/

.admin-nav-link:hover {
   text-decoration: none;
}
.admin-nav-subitem {
  color: rgb(238, 76, 76);
  border-bottom: 1px solid rgb(238, 76, 76);
  cursor: pointer;
  padding-left: 40px;
  font-weight:bold;
   font-family: 'proximanova-semibold-webfont';
}
.admin-nav-subitem:hover {
  background-color:rgb(238, 76, 76) ;
  color: #fff;
  
}
.anactive {
  color: rgb(238, 76, 76);
 
}
.aactive {
  background-color:rgb(238, 76, 76) ;
  color: #fff;
}
.admin-nav-item {
  border-bottom: 1px solid rgb(238, 76, 76);
   font-weight:bold;
   font-family: 'proximanova-semibold-webfont';
}
.admin-nav-item:hover {
   background-color:rgb(238, 76, 76) ;
   color: #fff;
  
}
.admin-nbar-img {
  background-color: rgb(219, 217, 217);
}
.admin-nbar-style {
 background-color: rgb(255, 255, 255);
 border-bottom: 2px solid lightgray;
}
.adminnavbarwel:hover {

  
  font-size: 18px;
  background-color:rgb(238, 76, 76) ;
   color: #fff;
  font-weight: 500;

}
.adminnavbarwel {
  cursor: pointer;
  padding-top: 22px;
  font-size: 18px;
  color: rgb(26, 25, 25);
  font-weight: 500;

}
/*
admin account   page style
*/

.adminbgcolor {
  background-color: rgb(219, 217, 217);
}
/*
Favorite song  page style
*/
.fssong-name {
  font-size: 14px;
  margin-top: 1px;
  color: black;
}
.fsmain-songbox:hover .fslinks-icons{
  display: inline-block;
}
.fsmain-songbox:hover .fsartist-name{
  display: none;
}
.fsmain-songbox:hover .fsmain-content{
  display: inline-block;
}

.fslinks-icons  {
  margin-top: 20px;
  display: none;
}
.fsartist-name {
  margin-top: 15px;
  display: block;
  font-size: 14px;
  color: rgb(172, 169, 169);
}
.fsbox-playicon {
  display: inline-block;
  align-items: center;
  width: 38px;
  padding-top: 4px;
  padding-bottom: 8px;
  text-align: center;
  background-color: rgb(29, 28, 28);
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.6;
  margin: 10px 10px 5px 10px;
}
.fsbox-playicon:hover {
  opacity: 1;
}
.fsmain-box {
  display: inline-block;
  position: relative;
}
.fsmain-box:hover .fsmain-content {
   display: inline-block;
   
}
.bgcolor4 {
  background-color: rgb(233, 233, 233);
}
.fsmain-content {
  position: absolute;
  display: none;
  z-index: 1;
  top: 17%;
  left: 9%;
  width: 39px;
  height: 39px;
}
.fsongsp {
  margin-top: 20px;
  font-size: 21px;
  color: rgb(104, 102, 102);
  
}

/*
heart icons style
*/
.heartstyle1
{
  display: inline-block;
  margin-top: 3px;
  font-size: 20px;
  color: rgb(112, 106, 106);
  cursor: pointer;
}
.heartcolor {
  display: inline-block;
  margin-top: 3px;
  font-size: 20px;
  color: rgb(238, 70, 70);
  cursor: pointer;
}
/*
Edit playlist  page style
*/
.selecteddeleteicon {
  display: inline-block;
 
  margin-left: 20px;
  margin-top: 4px;
}
.selecteddeletetext {
  display: inline-block;
  margin-top: 7px;
}
.editdeleteicon {
  fill: rgb(131, 129, 129);
}
.bgcoloruser {
  background-image:linear-gradient(to bottom,rgb(158, 153, 182) 6%,rgb(240, 238, 238) 45%,rgb(240, 238, 238) 45%) ;

}
.uncheckedsvg {
  fill: rgb(73, 70, 70);
  font-size: 18px; margin-top: 5px;
  display: inline-block;
}
.selectallitems {
 padding-left: 30px;
  cursor: pointer;
}
.selectalltext {
  display: inline-block;
  margin-left: 20px;
  margin-top: 3px;
  color: rgb(121, 117, 117);
}
.editdelete {
  border:1px solid rgb(161, 157, 157);
  text-align: center;
  padding-top: 0px;
  padding-bottom: 7px;
  border-radius:20px;
  cursor: pointer;
  box-shadow: 0 2px 32px 0 rgb(0 0 0 / 17%);
  font-family: 'proximanova-semibold-webfont';
  font-weight: bold;
  font-size: 14px;
  width: 250px;
  color: rgb(88, 86, 86);
  background-color: rgb(233, 230, 230);
}
.editcancel {
  border:1px solid rgb(161, 157, 157);
  text-align: center;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius:20px;
  cursor: pointer;
  box-shadow: 0 2px 32px 0 rgb(0 0 0 / 17%);
  font-family: 'proximanova-semibold-webfont';
  font-weight: bold;
  font-size: 14px;
  width: 100px;
  color: rgb(88, 86, 86);
  background-color: rgb(233, 230, 230);
}
.editsave {
  cursor: pointer;
  border:1px solid rgb(161, 157, 157);
  text-align: center;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius:20px;
  box-shadow: 0 2px 32px 0 rgb(0 0 0 / 17%);
  font-family: 'proximanova-semibold-webfont';
  font-weight: bold;
  font-size: 14px;
  width: 100px;
  color: rgb(88, 86, 86);
  background-color: rgb(233, 230, 230);
}
.editinputfield {
  display: block;
  width: 300px;
  border:1px solid rgb(156, 153, 153);
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 10px;
  font-size: 18px;
  font-weight: 500;
  color: rgb(87, 83, 83);
  border-radius: 4px;
}
.editinputfield:focus {
  outline: none;
}
/*
User playlists song page style
*/
.uplboxmain {
  position: relative;
  display: block;
}
.uplbox {
  position: absolute;
  width: 190px;
  display: none;
  background-color: #fff;
  right: 0px;
  box-shadow: 0 2px 32px 0 rgb(0 0 0 / 20%);
  border-radius: 5px;
  overflow: hidden;
  z-index: 1;
}
.editsongsrow {
  border-top: 1px solid rgb(192, 188, 188);
  border-bottom: 1px solid rgb(192, 188, 188);
}
.editsongsrow1 {
 
  border-bottom: 1px solid rgb(192, 188, 188);
}
.uplbox-item {
  padding-top: 8px;
  padding-bottom: 9px;
  cursor: pointer;
}
.uplbox-item:hover {
 background-color: rgb(228, 225, 225);
}
.uplbox-item:hover .uplbox-text {
  color: rgb(14, 13, 13);
  font-family: 'proximanova-semibold-webfont';
  font-weight:700;
}
.uplbox-item:hover .uplbox-fillpath {
  fill: rgb(14, 13, 13);
  
}
.upbbox-icon {
 margin-left: 10px;
 display: inline-block;
}
.uplbox-fillpath {
  fill:rgb(153, 148, 148);
}
.uplbox-text {
  font-size: 14px;
  color: rgb(153, 148, 148);
  margin-top: 2px;
  font-family: 'proximanova-semibold-webfont';
}
/*
User playlists page style
*/
.createpllisttext {
  color:rgb(160, 158, 158);
  font-size: 18px;
}
.createplis {
  fill: rgb(160, 158, 158);
}
.playlistsbox {
  height: 300px;
}
.inputfilepl {
  width: 313px;
  border:none;
  background-color: rgb(238, 231, 231);
  font-size: 14px;
}
.inputfilepl:focus {
  outline: none;
}
.arrowpl {
  color: rgb(150, 144, 144);
  font-size: 14px;
  
}

.inputbox {
  border:1px solid rgb(211, 206, 206);
  padding-top: 8px;
  padding-bottom: 8px;
 
  border-radius: 5px;
  background-color: rgb(238, 231, 231);
  

}
.inputboxheight {
  margin-top: 60px;
}
.createplaylisticon2 {
 opacity: 0.5;
}
.createpltext {
  color: rgb(165, 158, 158);
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}
.addtoptext {
  font-size: 20px;
  font-weight: 500;

}
.box-body-create-playlist {
  width:395px;
  height: 460px;
  position: absolute;
  top:15%;
  left: 35%;
  background-color: #fff;
  opacity: 1;
  border-radius: 10px;
  overflow: hidden;
}
.bgcolor2 {
  background-color: #d6d0d0;
}
.createplaylistbtn {
  width: 180px; 
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 20px;
  background-color:white;
  text-align: center;
}
.createplaylisticon {

}
.createplaylisttext {
  font-size: 14px;
  color: rgb(155, 150, 150);
  margin-left: 5px;
}
/*
User profile page style
*/
.upgradebutton {
   text-align: center;
   color: #fff;
   font-weight: 500;
   padding-top: 8px;
   padding-bottom: 8px;
   border-radius: 20px;
   background-color: rgb(241, 43, 43);

}
.premimutext {
  font-size: 14px;
  font-weight: 500;
  margin-top: 10px;
}
.rc_plan {
  display: flex;
  justify-content: space-between;
}
.rc_plan ._blk {
  box-shadow: 0 6px 15px 0 rgb(0 0 0 / 10%);
  color: white;
  background-color: #2c2a2d;
  border-radius: 4px;
  padding: 5px 10px 20px 10px;
  width: 28%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.currentplan {
  background-image: linear-gradient(to right,#11998e -20%,#38ef7d 80%);
   color: #fff;
   width: 100px;
   text-align: center;
   font-size: 15px;

}
.getmorestyle {
  font-size: 22px;
  font-weight: 700;
}
.adsupported {
  font-size: 15px;
  margin-top: 10px;
  font-weight: bold;
}
.addsupportedtext {
  font-size: 14px;
  width: 530px;
  margin-top: 5px;
  color: rgb(175, 166, 166);
}
.subscription {
  color: rgb(102, 95, 95);
  width: 110px;
  padding-bottom: 2px;
  border-bottom: 2px solid rgb(235, 51, 51);
}
.namestyle {
  font-size: 24px;
  font-weight: 500;


}
.emailstyle {
  font-size: 14px;
  color: rgb(129, 123, 123);
}
.userimg {
  border-radius: 50%;
}
/*
LOgin page style
*/
.emailfield {
  display: inline-block;
  width: 300px;
  border:none;
  margin-bottom: 10px;

}
.emailfield:focus {
  outline: none;
}
.arrowicon 
{
  font-size: 20px;
  display: inline-block;
 color: rgb(153, 144, 144);
}
.continuewith {
  font-size: 12px;
  color: rgb(119, 114, 114);
  display: inline-block;
  margin-top: 5px;
}
.loginButton 
{
   background-color: rgb(241, 43, 43);
   text-align: center;
   color: #fff;
   padding-top: 8px;
   padding-bottom: 8px;

   border-radius: 20px;

}
.emailpagebutton {
  background-color: rgb(168, 158, 158);
  text-align: center;
  color: #fff;
  padding-top: 12px;
  padding-bottom: 12px;
  font-weight:bold;
  font-size: 19px;
  border-radius: 24px;
}
.termsstyle {
  font-weight: bold;
}
.termsstylemain {
  font-size: 14px;
  color: rgb(156, 148, 148);
}
.loginheading {
  font-weight: 500;
  font-size: 19px;
  color: black;
}
.cop {
  opacity: 0.2;
  position: relative;
  
}
.mainbox {
  position:relative;
}
.box {
  width: 100%;
  height:100%;
  
  position: absolute;
  top:0px;
 
  
  
}
.container-box {
  background-color: rgb(85, 81, 81);
  position: relative;
  width: 100%;
  height:100%;
  opacity: 0.7;
}
.box-body {
  width: 660px;
  height: 460px;
  position: absolute;
  top:15%;
  left: 25%;
  background-color: #fff;
  opacity: 1;
}

 /*
Song page style
*/
.autoplaytexton {
  color: rgb(88, 84, 84);

  
}
.autoplaybtn {
  border: 1px solid rgb(167, 160, 160);
  width: 50px;
  margin-left: 10px;
  text-align: center;
  border-radius: 15px;
  padding: 0px 0px;
  display: inline-block;
}
  .qualitybtn {
    border: 1px solid rgb(182, 172, 172);
    width: 65px;
    margin-left: 20px;
    text-align: center;
    border-radius: 14px;
    padding: 0px 0px;
  }
  .qualitybtntext {
    font-size: 13px;
    font-weight: 500;
    color: rgb(182, 172, 172);
  }
  .arrow-up {
    margin-left: 5px;
    margin-bottom: 2px;
    display: inline-block;
    
    width: 0; 
    height: 0; 
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    
    border-bottom: 7px solid rgb(182, 172, 172);
  }
.volumeicon {
  font-size: 23px;
  display: inline-block;
  color:rgb(167, 161, 161);
}
.volumeiconbox {
  padding-top: 3px;
  display: inline-block;
}
.bottomplayPrev {
  fill:rgb(85, 81, 81);
}
.bottomplayPrevSvg:hover .bottomplayPrev {
  fill:rgb(27, 26, 26);
}
.bottomplayNext {
  fill:rgb(85, 81, 81);
}
.bottomplayNextSvg:hover .bottomplayNext {
  fill:rgb(27, 26, 26);
}
.bottomplayiconbox {
  display: inline-block;
  align-items: center;
  padding: 1px  8px 4px  8px;
  background-color: rgb(233, 104, 87);
  border-radius: 50%;
  cursor: pointer;
  margin: 10px 10px 5px 10px;
}
.bottomplayiconbox:hover {
  
  background-color: rgb(233, 65, 42);
  
}
.bottomplayicon {
  fill:white;
}
.bottombarheart {
 
 display: inline-block;
 margin-top: 7px;
 
 margin-left: 20px;
 cursor: pointer;
}
.bottombarheart:hover {
  font-size: 24px;
  display: inline-block;
  margin-top: 7px;
  
 }
 .bdr {
   border-right: 1px solid rgb(179, 174, 174);
 }
.bottomboxtext {
  font-size: 12px;
}
.bottomboxtextLink {
  font-size: 12px;
  color: rgb(48, 46, 46);
}
.bottomboxtextLink:hover {
  font-size: 12px;
  color: rgb(48, 46, 46);
  text-decoration: none;
}
.player-dots {
  cursor: pointer;
}
.player-dots:hover .bottommenustyle {
  fill:rgb(54, 52, 52);
}
.bottommenustyle {
  fill:rgb(124, 119, 119);
}
.viewAllLinkStyleBox {
  color: #e72c30;
  
 font-size: 14px;
}
.viewAllLinkStyle {
  color: #e72c30;
  margin-right: 20px;
  display: inline-block;
}
.viewAllLinkStyle:hover {
  color: #e72c30;
  text-decoration: none;
}

.playallbutton
{
  margin-top: 38px;
  color: white;
  cursor: pointer;
  height: 35px;
  background-color: rgb(231, 46, 46);
  border-radius: 15px;
  padding-top: 5px;
  display: inline-block;
}
.playallicon
{
  display: inline-block;
  margin-left: 15px;
}
.playalltext
{
  display: inline-block;
  margin-left: 10px;
  font-weight: 400;
  font-size: 13px;
  margin-right: 15px;
}
.tablesongfont
{
  font-size: 14px;

}
.cps {
  cursor: pointer;
}
.songrow:hover
{
  background-color: white;
}
.songrow:hover .tablesongfontcolor
{
  color:rgb(7, 6, 6);
}
.songrow:hover .songlistplaybox
{
  border: 1px solid rgb(7, 6, 6);
}
.songrow:hover .tablesongtitle
{
  color: rgb(7, 6, 6);
}
.tablesongfontcolor
{
  color: rgb(117, 112, 112);
  
}
.tablesongtitle
{
  color: rgb(221, 39, 39);

  
}
.heartstyle
{
  font-size: 24px;
  color: rgb(112, 106, 106);
  cursor: pointer;
}
.songlistplaybox
{
  display: inline-block;
  width: 29px;
  height: 28px;
  border: 1px solid rgb(163, 157, 157);
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}
.heartstylelist
{
  
  font-size: 20px;
  cursor: pointer;
 
 
}
.songlistplaybtn
{
  font-size: 10px;
  display: inline-block;
  
  margin-top: 8px;
  
}
.fontstyle1
{
  font-family: "proximanova-semibold-webfont";
}
.songlinkstyle
{
  color: rgb(83, 81, 81);
  font-size: 16px;
  display: inline-block;
  font-weight: 500;
  margin-left: 10px;
  text-decoration:underline;
}
.titlestylesong
{
  font-size: 25px;
  font-weight: 500;
}
.titlestylesong1
{
  font-size:14px;
  
}
.titlestylesong3
{
font-size: 14px;
text-decoration:underline;
}
.gannaiconfill
{
  fill: lightgrey;
}
.songnamelinkstyle
{
  color: rgb(122, 121, 121);
  font-size: 16px;
  display: inline-block;
  font-weight: 500;
 
  text-decoration:underline;
}
.bgsongcolor
{
 background-image: linear-gradient(to bottom,rgb(172, 166, 166),rgb(235, 228, 228),rgb(238, 230, 230));
}
.dotstyle {
  font-weight: bold;
  margin: 1px 10px;
  font-size: 40px;
}
/*
Home page stays
*/

.addboxstyle {
  
}
.fill_path_adroidicon{
  fill: rgba(7, 5, 5, 0.4);
    cursor: pointer;
}
.trending-search-btn-box {
  display: inline-block;
  position: relative;
}
.search-trending-name {
  margin-right: 10px;
  background-color: #efefef;
  border-radius: 10px;
  display: inline-block;
  color: rgb(224, 43, 43);
  padding: 5px 10px;
  
}
.trending-search-btn-notactive
{
  margin-right: 10px;
  background-color: #efefef;
  border-radius: 10px;
  width: 110px;
  color: rgb(224, 43, 43);
  padding: 2px 10px;
  cursor: pointer;
}
.trending-search-btn-active
{
  margin-right: 10px;
  color: #efefef;
  border-radius: 10px;
  width: 110px;
  background-color: rgb(224, 43, 43);
  padding: 2px 10px;
  cursor:pointer
}
 .trending-show-box {
  display: none;
  position: absolute;
  padding: 10px 15px;
  width: 300px;
  height: auto;
  top: 40px;
  right: 10px;
  overflow: hidden;
  box-shadow:0 0 2px 0 rgb(0 0 0 / 36%);
 z-index: 1;
  
  
}
.downloadapp {
  display: inline-block;
}
.platfromicons {
  display: inline-block;
}
.search-wrap {
  position: relative;
  padding-left: 30px;
  height: 43px;
  z-index: 103;
  display: flex;
  align-items: center;
}
.search_song {
  position: relative;
  max-width: none;
  width: 100%;
}

.searchinput1:focus
{
  width: 100%;
  height: 40px;
  padding: 13px 150px 13px 20px;
  box-sizing: border-box;
  font-size: 14px;
  border-top: none;
  border-radius: 25px 25px 25px 25px;
  background-color: #efefef;
  border:none;
  outline: none;
}
.searchinput1
{
  width: 100%;
  height: 40px;
  padding: 13px 150px 13px 20px;
  box-sizing: border-box;
  font-size: 14px;
  outline: none;
  border: none;

  border-radius: 25px 25px 25px 25px;
  background-color: #efefef;
 
}




.search_container a.search_btn {
  background-color: #e72c30;
  color: #fff;
}
.search_container a.search_btn {
  position: absolute;
  right: 2px;
  top: 0%;
  text-decoration: none;
  width: 142px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  border-radius: 25px 25px 25px 25px;
}
.search_btn .fill_path {
  fill: #fff;
}
.addmargin {
  margin-left: 20px;
}
.trensongname {
 
    max-height: 20px;
  overflow: hidden;
  font-size: 14px;
  max-width: 150px;
  
  
}
.trenlistbodyleft {
  position: absolute;
  display: inline-block;
  top:130px;
   left: 38px;
 }
.trenlistbodyright {
  position: absolute;
  display: inline-block;
  right:50px;
  top:130px;
 }
.treniconstyle {
  color:rgb(95, 90, 90);
  font-size: 17px;
  cursor: pointer;
}
.trenimgmain {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.trenimgmain:hover .trenimgiconbody {
  display: inline-block;
}
.trenimgmain:hover .trenimgiconbodylast {
  display: inline-block;
}
.trenimgiconbody {
  position: absolute;
  display:none;
  top:40px;
  left: 34%;
  width: 50px;
  text-align: center;
  height: 50px;
  padding-top: 10px;
  border-radius: 50%;
  background-color: rgba(71, 69, 69,0.5);
 
  z-index: 1;
  
}
.trenimgiconbody:hover {
  background-color: rgba(71, 69, 69,1);
}

.trenimgiconbodylast {
  position: absolute;
  display:none;
  top:40px;
  left: 50%;
  width: 50px;
  text-align: center;
  height: 50px;
  padding-top: 10px;
  border-radius: 50%;
  background-color: rgba(71, 69, 69,0.5);
 
  z-index: 1;
}
.trenimgiconbodylast:hover {
  background-color: rgba(71, 69, 69,1);
}
.trenimgmain {
  position: relative;
  display: inline-block;
}
.trenimgcol {
  width: 156px;
  height: 200px;
  margin-right: 10px;
  overflow: hidden;
  
}

.trenimgcollast {
 
 overflow: hidden;
  width: 90px;
  height:200px;
}

.trendingimg {
  width: 156px;
  height: 140px;
}
.trendingimglast {
  width: 90px;
  height: 140px;
}
.picimgiconstyle {
  font-size: 26px;
}
.picimgiconstyle:hover .trenimgcircle{
  opacity: 1;
}
.picimgplaystyle {
  font-size: 20px;
  margin-top: 2px;
  margin-left: 2px;
  
}
.picimgiconbody {
  position: absolute;
  display:none;
  top:70px;
  left: 40%;
 
  width: 50px;
  text-align: center;
  height: 50px;
  padding-top: 10px;
  border-radius: 50%;
  background-color: rgba(71, 69, 69,0.5);
 
  z-index: 1;
}
.picimgiconbody:hover {
  background-color: rgba(71, 69, 69,1);
}
.trenimgcircle {
  color: #5f5c5c;
  opacity: 0.7;
}
.picimgmain:hover .picimgiconbody {
  display: inline-block;
}
.picimgmain {
  position: relative;
  display: inline-block;
}
.piclistmain {
 position: relative;
 display: inline-block;
}
.piclistbodyleft {
 position: absolute;
 display: inline-block;
 top:100px;
  left: 25px;
}

.listiconactive {
  color:rgb(184, 180, 174);
}
.listiconnotactive {
  color:rgb(230, 226, 220);
}
.piciconstyle {
 
  font-size: 25px;
}
.piciconchevron {
  font-size: 17px;
}
.piclistbodyright {
  position: absolute;
  display: inline-block;
  right:25px;
  top:100px;
 }
 
.picimgbody {
  border-radius: 5px;

}
.picimgbodylast {
 overflow: hidden;
 
}
.picimgstyle {
  border-radius: 5px;
}
.picimgstylelast {
  border-radius: 7px;
  overflow: hidden;
  
}
.fright {
  float: right;
}
.picimg {
  width: 360px;
  height:200px;

}



.bgcolor {
  background-color: rgb(241, 235, 235);
}
.bgaddcolor {
  background-color: lightgray;
}
/*
Navbar style
*/
.dropdown {
  position: relative;
  background-color: #fff;
  display: block;

}

.userdropdownactive {
  height: 200px;
 
   display: inline-block;
}
.userdropdownnotactive {
  height: 0px;
 
}
.dropdownbg {
  background-color: rgb(207, 202, 202);
}
.dropdown-item {
  background-color: #fff;
  transition: background-color 1s ease-in;
}
.dropdown-item:hover {
 font-weight: 500;
 background-color: #fff;
}
.dropdown-item:hover .redcolor{
  color: #e72c30;
  text-decoration: none;
}
.redcolor {
  color: rgb(90, 85, 85);
}
.redcolor:hover {
  text-decoration: none;
  color: #e72c30;
}
.dropdown-btn {
  
  width: 100%; height: 100%;
}

 .userimg {
   border-radius: 50%;
   
 }
.dropdown-content
{
 
  position: absolute;
  width: 200px;
  transition: height 1s ease-in-out;
  
  display: block;
  overflow: hidden;
  background-color: #fff;
 
  right: 0px;
  box-shadow: 0 2px 32px 0 rgb(0 0 0 / 20%);
  z-index: 1;
  top:55px;
}
 .searchbtnboxcolor {
  fill:#fff;
}
.searchbtnbox 
{
  cursor: pointer;
  display: inline-block;
  text-align: center;
  padding-top: 8px;
  border-radius: 50%;
  width:38px;
  height: 38px;
  background-color: #e72c30;
}
.gtaddf {
  border:0.12rem solid #e72c30;
  border-radius: 15px;
  padding: 4px 10px; 
  font-size:12px;
  color:#e72c30;
  display: inline-block;
  margin-top: 15px;
  
   font-weight: 500;
   
}
.mrfgtaddf {
  margin-right: 20px;
}
.gtaddf:hover {
  font-weight: 500;
  background-color: #e72c30;
  border-radius: 15px;
  padding: 4px 10px; 
  font-size:12px;
  color:white;
  display: inline-block;
  margin-top: 15px;
  margin-right: 20px;
}
.fontstyle {
  font-family: 'proximanova-semibold-webfont';
}
 .header {
  background: #fff;
  border-bottom: 1px solid rgba(0,0,0,0.15);
}
.themehover {
  box-shadow: 0 2px 10px 0 rgb(0 0 0 / 15%);
  background: #e72c30;
  color: #fff;
  position: absolute;
  display: none;
  
  top: 61px;
    right: 5px;
    width: 250px;
   z-index: 1;
}

.themepoint {
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-top: 10px solid transparent;
  border-bottom: 10px solid #e72c30;
}
.cois {
   font-weight: 500;
}
.cois1 {
  color:rgb(214, 207, 207);
  font-weight: 500;
}
.themehoverinner {
  padding: 10px 0px 0px 10px;
  text-align: left;
  font-size: 14px;
}
.iconsfn {
  position: relative;
  display: inline-block;
}
.iconsfn:hover {
  background-color: rgb(189, 185, 178);
}
.iconsfn1:hover {
  background-color: rgb(189, 185, 178);
}
li .active {
  color: #e72c30;
  font-weight: 500;
}
.tlcolor:hover {
  color:#cc4649;
}
.tlcolor {
  color:rgb(160, 159, 156);
  font-weight: 500;
  font-size: 15px;
  font-family: 'proximanova-semibold-webfont';
}
.iconsfn:hover .themehover {
      display: block;
}
.iconstyle {
padding-top: 15px;
padding-bottom: 15px;
}
.iconstyle1 {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 5px;
 
  }
  .iconstyle2 {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    padding-left: 12px;
   
    }
  .iconstyle2 {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    color: #e72c30;
    font-weight: 500;
    font-size: 15px;
    }
.fill_path {
  fill: rgba(0,0,0,0.4);
  cursor: pointer;
 
  
}
Link.active {
  color: #e72c30;
}
.navitem {
  font-size: 14px;
  font-weight:500;
  
}
.tcolor {
  color:rgb(104, 99, 99)
}
.logo {
  margin:10px 10px 0px 30px;
  display: block;
  
}
 .fill_path.orange {
  fill: #e72c30;
  opacity: 1!important;
}
.sforowfes1 {
  font-size: 0.92857rem; font-family: Rubik-Regular;
}
.sforowfes2 {
  font-size: 0.78571rem; font-family: Rubik-Regular; color: rgb(153, 153, 153);
}
.sforowfes3 {
  font-size: 1.07143rem; font-family: Rubik-Regular; font-weight: 400;
}

.sforowfes4 {
  font-size: x-small;
}

.sforowfes5 {
  border-left: 3px solid lightgrey; height: 60px;
}
.sforowfes6 {
  font-size: 0.78571rem; font-family: Rubik-Regular;
}

.sforowfes7 {
  font-size: 1.28571rem;
}
.sforowfes8 {
  width: 40px;
}

.sforowfes9 {
  font-size: 14px;
}
.sforowfes10 {
  font-size: 10px;
}
.sforowfes11 {
  background-color: rgb(90, 66, 109); color: white;
}
.sforowfes12 {
  width: 45px;
}

.sforowfes13 {
  padding: 0px; margin: 0px;
}
.onewaybox {
  transition: box-shadow .3s;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 0 6px 0 rgb(0 0 0 / 36%);
  margin-bottom: 40px;
}
.onewaybactive {
  transition: box-shadow .3s;
  border-radius: 6px;
  background: #fff;
  margin-bottom: 40px;
  box-shadow: 0 0 5px #00f;
}
.yt-row-footer {
  font-size: 12px;
  color: #3691ca;
  cursor: pointer;
  font-size: .85714rem;
  text-decoration: none;
}
#rect1 {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #ffd302;
  border: 1px solid #d3d3d3;
}
#rect, #rect1 {
  height: 15px;
  width: 5px;
  font-size: .78571rem;
}
#rect {
  background-color: #fff;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid #d3d3d3;
}

/*
return flight Search styles

*/
.rfbsfs {
  border:1px solid lightgrey;
}
#fs9 {
  font-size: 1.07143rem;
  font-weight: 400;
}
#fs8, #fs9 {
  font-family: Rubik-Regular;
}
#fs8 {
  font-size: 10px;
}
.nofthsf {
  background-color: rgb(229, 231, 235); 
  border-radius: 3px; 
  margin-left: 7px; 
  font-size: 0.78571rem;
}
.namestfrf{
  font-size: x-small;
}
.bottomheaders {
  background-color: rgb(67, 38, 78); color: white;
}
.bottomheaders1 {
  width: 40px;
   border-radius: 6px;
}
.bomhrs {
  font-size: 0.85714rem;
}
.bomhrs1 {
  border-color: white;
}
.bomhrs2 {
  font-size: 0.85714rem;
}
.bomhrs3 {
  font-size: 1.57143rem;
}
.rfinfosize {
  font-size: 6px;
}





















.rowNameStyle {
  padding-top: 7px;
}
.bookedSeat {
  background-color: green;
  color:white;
  
  box-shadow: 0px 0px 1px green;
  
  border-radius: 5px;
  border:1px solid lightgrey;
}
.availableStyle {
  background-color:lightgrey;
}
.codeStyle {
  width:70%;
}
.seatStyle {
  border:1px solid lightgrey;
 
  margin-right:3px;
  border-radius: 4px;
  width:25px;
  text-align: center;
  display: inline-block;

}
.textcolor {
  color:white;
}
.selectedTimeStyle {
  background-color: green;
  color:white;
  margin:10px;
  box-shadow: 0px 0px 5px green;
  padding:7px;
  border-radius: 5px;
  border:1px solid lightgrey;
}
.onEnterTimeEffect {
  background-color: lightgreen;
  margin:10px;
  padding:7px;
  border-radius: 5px;
  border:1px solid lightgrey;
}
.fsize {
  font-size: 45px;
}
.dateStyle {
  margin:10px;
  padding:7px;
  border-radius: 5px;
  border:1px solid lightgrey;
}
.selectedDateStyle {
  margin:10px;
  padding:7px;
  border-radius: 5px;
  background-color: lightgreen;;
  border:1px solid green;
  text-align: center;
  font-weight: bold;


}
.genreStyle {
  margin:3px;
  border:1px solid black;
  border-radius: 20px;;
  padding: 2px;
}
.limg {
  width:80%;
  
}
.backeffect {
  background-color:#EDE5E4;
}
.youtube {
  color:red;
  font-size:50px;

}
.adimg {
  width:98%;
  height: auto;
}
.mstyle{
  margin:5px;
}
.bstyle {
  border-radius: 10px;
}
.sfield {
  width:250px;
  display:inline-block;
}
.ticon {
 font-size:35px;
}
.pimg {
  width:96%;
  
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.tcolor {
  color:white;
}
.bcolor {
  background-color: rgb(166, 209, 162);
}
.hcolor {
background-color: lightgray;
}











