body {
  margin: 0;
  	background-color: #f4f4f4;
 
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
._39X-Og {
  height: 7px;
  width: 20px;
  transform: rotate(
180deg
);

  margin-bottom: 3px;
}



/*admin product style*/
.apns {
  font-size:13px ;
  color:#212121;
  font-weight: 499;
}
.aphs {
 font-size: 15px;
 font-weight: bold;
}

/*cart page style

*/
.ucptsps {
  font-size: 18px;
  font-weight: 500;
}
.ucpdns {
  font-size: 14px;
}
.ucppos {
  font-weight: 490;
  color:rgb(255, 255, 255);
  font-size: 19px;
  background-color:rgb(251, 100, 27) ;
}
.ucpds {
  font-size: 18px;
  font-weight: 500;
  color:#388e3c;
}
.ucpps {
  font-size: 16px;
}
.ucpns {
  font-size:18px;
}
.ucpspds {
  font-size: 15px;
}
.uchs {
  font-size:20px ;
  font-weight: 490;
}

/*compare list page style

*/
.cplhs {
  font-size: 20px;
  font-weight: 500;
}
.cplpns {
  font-size: 15px;
  font-weight: 500;
}
.cplpps {
  font-size: 17px;
}
.cplpdss {
  font-size: 14px;
  font-weight: 490;
}
.cpslbpbs {
background-color: #fb641b;
cursor: pointer;
}

/*
CSV upload styles

*/
.pcsvuphs {
  font-size: 26px;
  font-weight: 500;
}
/*
download product style

*/
.apdbs {
  background-color:rgb(251, 100, 27) ;
}


/*
form upload style

*/
.psfufhs {
  font-size: 16px;
  font-weight: bold;
}
.ppfhsc {
  color: rgb(93, 95, 97);
}

/*
home page styling

*/
.pdotds {
  font-size: 20px;
  font-weight: bold;
}
.cps {
  cursor: pointer;
}

.pdotdds {
  font-size: 10px;
  font-weight: 500;
}
.text10 {
  font-size: 10px;
}
.text12 {
  font-size: 12px;
}
.text13 {
  font-size: 13px;
}
.text18 {
  font-size: 18px;
}
.text14 {
  font-size: 14px;
}
.text15 {
  font-size: 15px;
}
.text16 {
  font-size: 16px;
}
.text19 {
  font-size: 19px;
}
.text20 {
  font-size: 20px;
}
.text28 {
  font-size: 28px;
}
.text600 {
  font-weight: 600;
}
.qnapageqs {
  margin-top: 15px;
}
/*
navbarstyles 

*/
.nbhmyas {
  font-size: 10px;
  color: white;
}
.nbsfsrfp {
  padding-top: 11px;
  padding-bottom: 8px;
}
.nbsforci {
  font-size: 10px;
  color:lightgray;
}

/*
product page style

*/
.pplisis {
display: inline-block;
vertical-align: top;
}
.ppatocs {
background-color: #ff9f00;
cursor: pointer;
}
.ppbpbs {
  background-color: #fb641b;
  cursor: pointer;
}
.pppps {
  font-size: 28px;
  font-weight: 500;
}
.pppdss {
font-size: 16px;
font-weight: 400;
color:#388e3c;
}
.ppdihs {
  font-size: 14px;
  line-height: 1.4;
  display:inline-block;
}
.ppdoffhs {
  font-size: 16px;
  font-weight: 500;
  color: #212121;
}
.ppsforwarr {
  font-size: 15px;
  color:#212121;
  line-height: 2;
}
.pprsforsm {
  margin-right: 2px;
}
.textbold {
  font-weight: bold;
}

.readmorestyle {
  color:#2874f0;
  font-weight: 700;
  font-size: 12px;
  cursor: pointer;
}

.pprautors {
  font-size: 12px;
  color:#878787;
}

.text500 {
  font-weight: 500;
}

.pprnps {
  cursor: pointer;
  margin:0px 12px ;
}
/*
products page style

*/
.pspsforlinks {
  margin:0px 10px;
}
.pspdbs {
  display: block;
}
.pspatcms {
font-size: 14px;
font-weight: 490;
color:black;
cursor: pointer;
}
.psppiindo{
  font-weight: 495;
}
.pspsfpindex {
  display: inline-block;
}

/*
qna page style

*/
.qnaquess {
  font-weight: 600;
  margin-top: 15px;
  font-size: 12px;
}
.qnaanss {
  margin-top: 15px;
  font-size: 12px;
}
/*
report  page style

*/
.rpsfbs {
font-size: 13px;
color:#212121;
font-weight: 500px;
}
.rpsfbutton {
  font-size: 10px;
}

/*
useraccoutnstyle
*/
.ualsfl {
  font-size: 12px;
  margin-right: 8px;
}
/*
user order page style

*/
.upsbgcolor {
background-color:#f1f3f6;
}
.uporlssts {
  font-size: 12px;
  padding-top: 5px;
}
.upords {
  font-size: 11px;
  font-weight: 500;
  margin-left: 18px;
  display: inline-block;
}

/*
user profile style
*/
.uprorbbs {
  border-bottom: 2px solid #e0e0e0;
}
.uproedits1 {
 font-size: 18px;
 font-weight: 500;
}
.uproedits2 {
  font-size: 14px;
  font-weight: 400;
}
.uproedits3 {
  font-size: 14px;
  font-weight: 500;
}

.uproedits4 {
  font-size: 16px;
  cursor: not-allowed;
  color:#878787;
}
/*
user wishlist heading style
*/
.uwlihs {
  font-size: 22px;
  font-weight: 400;
}
.uwlihs1 {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4;
}
.uwlihs2 {
  font-size: 20px;
  font-weight: 500;
}

/*
view page style
*/
.vpheas {
  font-size: 24px;
  font-weight: 450;
  display: inline-block;
}
.vpheas1 {
  font-size: 14px;
  color:gray;
}
.vpheas2{
 
  color:lightgrey;
}
.vpheas3{
 font-size: 8px;
}






















.activeimage {
  border:1px solid rgb(12, 87, 226);
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.secondpart {
  display: flex;
  flex: 1 1;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 1px solid #f0f0f0;
}
.wrapclass {
  display: flex;
    flex-flow: row wrap;
}
.leftimgx {
  padding: 5px;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
}
.leftsmallcard {
  width: 64px;
  border-color: #f0f0f0!important;
  border-right: none!important;
  height: 64px;
  align-items: center;
  border: 1px solid #e0e0e0;
  border-bottom: none;
  cursor: pointer;
}
.DpXnhQ {
  fill: #878787;
}
.reviewNameStyle:hover {
  color:#007bff;
  font-weight: bold;

}
.cartbuttonstyle {
  padding: 18px 8px;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
    width: 98%;
    border: none;
    float: left;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}
.comparecartbuttonstyle {
  padding: 15px 8px;
  border-radius: 2px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
  width: 98%;
  border: none;
  float: left;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}
.userOrderLink {
  font-size: 12px;
    color: #878787;
    display: inline-block;
}
.usrOrderLink:hover {
color:" #007bff"
}
._3jifPN {
  background-color: #fff7e1;
  display: inline-block;
  padding: 8px 16px;
  font-size: 12px;
  border-radius: 15px;
}
.wishlistbottom {
  border-bottom: 2px solid #d3d0d0;
}
.userTopLink {
  
    width: calc(100% - 26px);
   
    font-size: 16px;
    font-weight: 500;
    color: #878787;
    cursor: pointer;

}
.userTopLink:hover {
  
    font-weight: 500;
    color: #2874f0;
   
}
.usereditbutton {
  background: #2874f0;
    width: 130px;
    height: 48px;
    padding: 14px;
    color: #fff;
    border-radius: 3px;
    font-size: 16px;
    box-shadow: none
}
.userLink {
    padding-bottom: 12px;
    padding-top: 12px;
    font-size: 14px;
    padding: 12px 5px 12px 66px;
    cursor: pointer;
     color:black;
}
.userLink:hover {
  color: #2874f0;
}
.activeUserLink{
  padding-bottom: 12px;
  padding-top: 12px;
  font-weight: 500;
    color: #2874f0;
    background-color: #f5faff;
}

.productsDescription {
  color:rgb(194,194,194);
  font-size: 14px;
  display: inline;
  padding:0px;
}
.dtitlestyle:hover {
   font-weight: bold;
   color:#0DA9E3;
   font-family: Roboto,Arial,sans-serif;

}
._3wj6q3 {
  padding-right: 12px;
  background-color: #fafafa;
  margin-bottom: 10px;
}
.topLink:hover {
  color: #2874f0;
}
.topLink {
  color:rgb(93, 95, 97);
}
.productSubmit {
  background: #2874f0;
  width: 130px;
  height: 48px;
  padding: 10px 16px;
  color: #fff;
  border-radius: 3px;
  font-size: 18px;
  border:1px solid  #2874f0;
  text-align: center;
  box-shadow: none;
  display: inline-block;
  font-weight: 400;
  margin-top: 15px;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
  cursor: pointer;
}
.productSubmit:hover {
  color:black;
}
._3AWRsL {
  background: #fb641b;
  border: none;
  color: #fff;
  padding: 9px 8px;
  border-radius: 2px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
  float: right;
  width: 98%;
}
._1vuGld {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 15px;
  height: 34px;
  width: 34px;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 15%);
  border: 1px solid rgba(0,0,0,.06);
  border-radius: 50%;
  font-size: 15px;
  line-height: 32px;
  color: #878787;
  text-align: center;
  cursor: pointer;
}
*, :after, :before {
  box-sizing: border-box;
}
user agent stylesheet
div {
  display: block;
}
.reviewtitlestyle {
  padding-left: 12px;
    padding-top: 3px;
    font-size: 14px;
    color: #212121;
    font-weight: 700;
}
.reviewrating {
 
  line-height: normal;
  display: inline-block;
  color: #fff;
  padding: 0px 4px 1px 6px;
  border-radius: 3px;
  font-weight: 500;
  font-size: 12px;
  vertical-align: middle;
  background-color: #388e3c;
}
.reviewstar {
  margin: 0 0 0 2px;
  
  width: 10px;
  height: 10px;
}
._3LWZlK {
  line-height: normal;
  display: inline-block;
  color: #fff;
  padding: 0px 4px 2px 6px;
  border-radius: 3px;
  font-weight: 500;
  font-size: 12px;
  vertical-align: middle;
  background-color: #388e3c;
  margin-right: 2px;
}
.compareRatingStyle {
  line-height: normal;
  display: inline-block;
  color: #fff;
  padding: 2px 4px 2px 6px;
  border-radius: 3px;
 font-size: 500;
  font-size: 12px;
  font-family: Roboto,Arial,sans-serif;
  vertical-align: middle;
  background-color:#388e3c;
  margin-right: 1px;
}
._1wB99o {
  margin: 0 0 0 2px;
  height: 14px;
  padding-bottom: 2px;
}
.compareRatingStar{
  margin: 0 0 0 1px;
  height: 12px;
  padding-bottom: 2px;
}

.mobiledropdown {
  position:relative;
  display: inline-block;
}
.mobiledropdownbody {
  display: none;
  position: absolute;
 
  background-color: #fff;
  min-width: 140px;
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
  z-index: 1;
}
.mobiledropdown:hover .mobiledropdownbody {
  display:block;
}
.mobiledropdownitem {
  color: #000;
  text-decoration: none;
  display: block;
  font-size: 14px;
  text-align: left;
  padding: 10px
}
.mobiledropdownitem:hover {
  background-color: gainsboro;
}



.laptopdropdown {
  position:relative;
  display: inline-block;
}
.laptopdropdownbody {
  display: none;
  position: absolute;
 
  background-color: #fff;
  min-width: 140px;
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
  z-index: 1;
}
.laptopdropdown:hover .laptopdropdownbody {
  display:block;
}
.laptopdropdownitem {
  color: #000;
  text-decoration: none;
  display: block;
  font-size: 14px;
  text-align: left;
  padding: 10px
}
.laptopdropdownitem:hover {
  background-color: gainsboro;
}

.cameradropdown {
  position:relative;
  display: inline-block;
}
.cameradropdownbody {
  display: none;
  position: absolute;
 
  background-color: #fff;
  min-width: 140px;
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
  z-index: 1;
}
.cameradropdown:hover .mobiledropdownbody {
  display:block;
}
.cameradropdownitem {
  color: #000;
  text-decoration: none;
  display: block;
  font-size: 14px;
  text-align: left;
  padding: 10px
}
.cameradropdownitem:hover {
  background-color: gainsboro;
  
}



.dropdownbutton {

    border: none;
    font-family: Roboto,Arial,sans-serif;
   
    cursor: pointer;
}
.drowpdown {
  position:relative;
  display: inline-block;

}
.dropdown:hover .userdropdown{
  display: block;
 
}
.userdropdown {
  display: none;
  position: absolute;
 
  background-color: #fff;
  min-width: 140px;
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
  z-index: 1;
}
.userdropdown .itemstyle:hover {
  background-color: gainsboro;
}
.userdropdown .itemstyle {
  color: #000;
    text-decoration: none;
    display: block;
    font-size: 14px;
    text-align: left;
    padding: 10px
}
.moredropdown:hover .moredropdownstyle{
  display: block;
 
}
.moreitemstyle {
  color: #000;
    text-decoration: none;
  display: block;
    font-size: 14px;
    text-align: left;
    padding: 10px;
  margin:10px;
  padding: 10px 5px;
  padding-left: 10px;
 
 }
.moreitemstyle:hover {
  background-color: gainsboro;
}
.moredropdown {
  position:relative;
  display: inline-block;

}
.moredropdownstyle {
  display: none;
  position: absolute;
  background-color: #fff;
  width:150px;
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
  z-index: 1;
 
  
}

.brandbox {
  width: 76px;
  height: 32px;
  border: 1px solid #f0f0f0;
  position: relative;
  font-size: 14px;
  
}
.brandimage {
  max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 4px;
}
.fontstyle {
  font-family: Roboto,Arial,sans-serif;
}
.dtitlestyle {
  font-family: Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
}
.showCartQtyStyle {
width: 100px;
 font-weight: 400;
  border-radius: 3px;
   height: 5px;
    margin-left: 2px;
     margin-right: 2px;
}
.incrementButtton {
background-color: white;
 border-color: rgb(224, 224, 224);
  cursor: pointer;
   border-radius: 50%;
    font-size: 12px; 
    width: 28px; height: 28px;
}
.tpsecrowy {
  padding-left: 8px;
  font-weight: 500;
  color: #878787;
}
.tprow {
  padding: 0;
    line-height: 1.4;
    font-size:22px;
    font-weight: 500;
    color: #212121;
    font-family: Roboto,Arial,sans-serif;
    font-size: 18px;

}
.nameEffectMove {
  color: #0e80cc;
  font-weight: bold;
  font-size: 20px;
}
.removeEffectMove {
  color:black;
  font-weight: normal;
  font-size: 16px;
}
.ratingStyleViewList {
  padding:0px 6px;

  font-size: 13px;
  margin-right: 5px;
  border-radius: 3px;
  display: inline-block;
  color: white;
  background-color:#388e3c;
}
.ratingStyleForProduct {
  padding:1px 8px;

  font-size: 13px;
  margin-right: 5px;
  border-radius: 3px;
  display: inline-block;
  color: white;
  background-color:#388e3c;
}
.activeImageStyle {
  border:1px solid rgb(58, 95, 218);
}
.activeButNotChange {
  color: black;
  text-decoration: none;
}
.activeButNotChange:hover {
  color:rgb(10, 110, 224);
  text-decoration: none;
}
.normalTextColor {
  color:black;
}
.normalTextColor:hover {
  color:black;
  text-decoration: none;
}
.activePPath {
    color:rgb(10, 110, 224);
    text-decoration: none;
}
.activePPath:hover {
  color:rgb(10, 110, 224);
  text-decoration: none;
}
.notActivePPath {
  color:black;
  text-decoration: none;
}
.notActivePPath:hover {
  color:rgb(10, 110, 224);
  text-decoration: none;
}
.footerStyle {
   margin-bottom: 7px;
   display: inline-block;
}

.ditemstyle:hover {
  font-weight: bold;
  color:black;
}
.normalColor {
  color: black;
  font-family:  sans-serif;
}
.normalbgcolor {
  background-color: white;
}
.navBar2Style {
  font-weight: 25px;
  display: inline-block;
  color: black;
}
.navBarItem {
  margin-top: 10px;
  font-family: Roboto,Arial,sans-serif;
  line-height: 20px;
    letter-spacing: .1px;
   
}
.navbarLink:hover{
  color: white;
  text-decoration: none;
}

.activeElement {
  background-color:#ECF7F3;
}
.active:hover {
  text-decoration: none;
}
.modalwidth {
  width:500px;
}
.notActive:hover {
  text-decoration: none;
}
.notActive {
  color:black;
}
.boldHeading {
  font-size: 22px;
  font-weight: bold;
}
.removeBorders {
  border:none;
  outline:none;
  background-color: white;
  width:144px;
  font-weight: 400;
  font-size: 14px;
}
.hivXmn {
  padding: 0 0 4px;
  border: none;
  border-bottom: 2px solid #2874f0;
  font-weight: 500;
  display: flex;
  align-items: center;
  border-radius: 2px;
}
.hivXmn ._1kbGNj {
  vertical-align: middle;
  margin-right: 6px;
  fill: #2874f0;
}
.N79-rD {
  display: inline-block;
  line-height: 25px;
}
._36yFo0 {
  font-weight: 500;
  font-size: 14px;
  border: none;
  outline: none;
  width: 144px;
  padding-left: 6px;
  vertical-align: middle;
}
.hivXmn ._2P_LDn {
  font-weight: 700;
  cursor: pointer;
  font-size: 14px;
  color: #2874f0;
  margin-left: auto;
  position: relative;
}
._2OTVHf, ._3yvRQZ {
  padding: 8px;
  font-size: 12px;
  z-index: inherit;
}
._2OTVHf {
  border: 1px solid #212121;
  border-radius: 2px;
  background: #212121;
  transition: opacity .3s ease-in-out;
  opacity: 0;
  top: 0;
  left: 0;
  pointer-events: none;
  font-size: 11px;
  font-weight: 500;
  line-height: 1.4;
  z-index: 5;
  width: 145px;
  min-width: 40px;
  display: flex;
  align-items: center;
  -webkit-filter: none;
  filter: none;
  position: absolute;
  opacity: 1;
  box-shadow: 1px 0 2px 0 rgb(0 0 0 / 20%);
  display: inline-block;
  left: calc(100% + 16px);
  top: 50%;
  transform: translateY(-50%);
  visibility: visible;
  pointer-events: auto;
}






.mapiconstyle {
  vertical-align: left;
  margin-right: 10px;
  
  fill: #2874f0;
}
.pincodeFieldStyle {
  border-bottom: 0px solid rgb(62, 191, 235);
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  width: 144px;
  font-size: 14px;
  
  display:inline-block;
}
.pincodeColStyle {
  border-bottom: 2px solid #2874f0;
}
.closeLogin:hover {
  font-weight: bold;
  font-size: 17px;
}
.closeLogin {
  display: inline-block;
  
 margin-right: 10px;
  font-size: 15px;
  padding:1px 10px;
  padding-bottom: 5px;
  border:1px solid lightgray;
  border-radius: 15px;
}
.greenDot {
  font-size: 10px;
  display: inline-block;
}
.logoutIconStyle {
  font-size: 23px;
}
.commingSoonStyle {
  font-size: 30px;
  font-weight: bold;
  color:rgb(72, 72, 211);
}
.bigText {
  font-size: 25px;
}
.removeFromCompareStyle {
 display: inline-block;
  margin:5px 2px;
  font-size: 10px;
  padding:1px 2px;
  border:1px solid lightgray;
  border-radius: 10px;
}
.incrementStyle {
  display: inline-block;
  margin:5px 2px;
  font-size: 18px;
  padding:1px 12px;
  border:1px solid lightgray;
  border-radius: 25px;
}
.cartQtyStyle {
  display: inline-block;
  margin:5px;
  padding:1px 12px;
  border:1px solid lightgray;
  border-radius: 3px;
}
.backgcolor {
  background-color:#DAD6D5 ;
}
.securityIcon {
  font-size: 35px;
  margin-right: 5px;
  padding-top: 5px;
  display: inline-block;
}
.totalPriceStyle {
  font-size: 16px;
  font-weight: bold;
}
.brandIcon {
  font-size: 11px;
}
.cartPriceStyle {
  font-size: 25px;

}
.cartDiscountStyle {
 
  text-decoration: line-through;
}
.searchButton {
  padding: 4px 40px;
  font-weight: bold;;
  margin-top: 0px;
  box-shadow: 0px 0px 1px white;
  font-size: 17px;
  display: inline-block;
}
.searchField {
  display: inline-block;
  max-width: 100%;
}

.flipkartExploreStyle{
  width: 10px;
  line-height: 5px;
  margin: 0;
  padding: 0;
  display: inline-block;
  height: auto;
}
.flipkartIconStyle {
  width:85px;
  margin: 0;
  padding: 0;
  display: inline-block;
  height:  auto;
}

.imageAlign {
  text-align: center;
}
.buyNowStyle {
  background-color: rgb(240, 120, 22);
}
.dealsMobileIcons {
  margin-top: px;
  font-size: 15px;
  text-align: center;
  padding: 55px 3px;
  box-shadow: rgb(0 0 0 / 30%) 1px 2px 10px -1px;
  background-color: rgba(255, 255, 255, 0.98);
  border-top: 2px solid rgb(99, 95, 95);
  border-left: 2px solid rgb(97, 92, 92);
  border-right: 2px solid black;
  border-bottom: 2px solid black;
 
}
.carouselstyle {
  width: 100%;

}
.extrs {
  align-self: center;
    padding: 60px 5px;
    color: black;
    box-shadow: rgb(0 0 0 / 30%) 1px 2px 10px -1px;
    background-color: rgba(255, 255, 255, 0.98);
    cursor: pointer;
    display: flex;
    position: absolute;
    z-index: 1;
}
.pageReviewIndexStyle {
  padding-top: 5px;
  padding-bottom: 4px;
  border: 1px solid lightgrey;
  background-color:#2874f0;
  border-radius: 50%;
  display: inline-block;
  font-size: 14px;
  color:#fff;
  font-weight: 500;
    width: 32px;
    text-align: center;
}
.ratingStyleForReview {
  padding:1px 6px;
  font-weight: bold;
  font-size: 12px;
  margin-right: 5px;
  border-radius: 4px;
  display: inline-block;
  color:white;
  background-color: rgb(33, 148, 33);
}
.iconSizeRating {
  font-size: 10px;
  padding-left: 3px;
}
.sellerRatingStyle {
  padding:1px 7px;
  padding-bottom: 2px;
  border-radius: 10px;
  font-weight: normal;
  font-size: 12px;
}


.checkPincodeStyle {
  display: inline-block;
  border:1px solid black;
  font-size: 15px;
  background-color: black;
  color: white;
   padding: 4px 23px;
   padding-bottom: 8px;
}
.pageIndexStyle {
  padding: 5px;
  border: 1px solid lightgrey;
  background-color: rgb(19, 150, 236);
  border-radius: 100%;
  display: inline-block;
  font-size: 15px;
  width:25px;
}
.priceStyle {
  font-weight: bold;
  font-size: 20px;

  padding: 5px;
}
.priceStyleProduct {
  font-weight: bold;
  font-size: 35px;

  padding: 5px;
}
.discountStyleProduct {
  font-size: 20px;
  text-decoration: line-through;
}
.discountStyle {
  text-decoration: line-through;
}
.ratingStyle {
  padding:0px 4px;
  font-size: 15px;
  margin-right: 5px;
  border-radius: 5px;
  display: inline-block;
}
.socialCell {
  border-left: 1px solid rgb(85, 82, 82);
  padding-left: 15px;
}
.headingStyle {
  font-size: 18px;
}
.extraInfoStyle {
  background-color:#172337;
}
.timeStyle {
  margin:10px;
  padding:7px;
  border-radius: 5px;
  border:1px solid lightgrey;
}
.bgcolor {
  background-color:lightgray;
}
.dealsImgStyle {
  width: 100%;
  height: 300px;
  border-left: 1px solid lightgray;
  padding-left: 15px;
 
}
.dealsBImgStyle {
  padding:7px 0px;
  width:100%;
  height:250px;
  text-align: center;
}
.rowNameStyle {
  padding-top: 7px;
}
.bookedSeat {
  background-color: green;
  color:white;
  
  box-shadow: 0px 0px 1px green;
  
  border-radius: 5px;
  border:1px solid lightgrey;
}
.availableStyle {
  background-color:lightgrey;
}
.codeStyle {
  width:70%;
}
.seatStyle {
  border:1px solid lightgrey;
 
  margin-right:3px;
  border-radius: 4px;
  width:25px;
  text-align: center;
  display: inline-block;

}
.textcolor {
  color:white;
}
.selectedTimeStyle {
  background-color: green;
  color:white;
  margin:10px;
  box-shadow: 0px 0px 5px green;
  padding:7px;
  border-radius: 5px;
  border:1px solid lightgrey;
}
.onEnterTimeEffect {
  background-color: lightgreen;
  margin:10px;
  padding:7px;
  border-radius: 5px;
  border:1px solid lightgrey;
}
.fsize {
  font-size: 45px;
}
.dateStyle {
  margin:10px;
  padding:7px;
  border-radius: 5px;
  border:1px solid lightgrey;
}
.selectedDateStyle {
  margin:10px;
  padding:7px;
  border-radius: 5px;
  background-color: lightgreen;;
  border:1px solid green;
  text-align: center;
  font-weight: bold;


}
.genreStyle {
  margin:3px;
  border:1px solid black;
  border-radius: 20px;;
  padding: 2px;
}
.limg {
  width:80%;
  
}
.backeffect {
  background-color:#EDE5E4;
}
.youtube {
  color:red;
  font-size:50px;

}
.adimg {
  width:98%;
  height: auto;
}
.mstyle{
  margin:5px;
}
.bstyle {
  border-radius: 10px;
}
.sfield {
  width:250px;
  display:inline-block;
}
.ticon {
 font-size:35px;
}
.pimg {
  width:96%;
  
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.tcolor {
  color:white;
}
.bcolor {
  background-color: rgb(166, 209, 162);
}
.hcolor {
background-color: lightgray;
}


._2hriZF._2rbIyg {
  pointer-events: auto;
  opacity: 1;
}
._2hriZF {
position: fixed; 
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.6);
    z-index: 12;
    opacity: 0;
    outline: none;
    pointer-events: none;
    transition: opacity .2s;
}
 ._2MlkI1, ._2hriZF ._2QfC02 {
  outline: none;
  position: relative;
}
.errorStyle {
 

    font-size:15px;
    font-weight: 400;

}

 ._2doB4z {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 32px;
  line-height: 1;
  vertical-align: top;
}
.disblebutton {
  font-size: 32px;
  padding-top: 0px;
}
._2KpZ6l {
  float: right;
  display: inline-block;
  border-radius: 2px;
  color: #fff;
  padding: 0px 5px;
  font-size: 32px;
  font-weight: 500;
  transition: box-shadow .2s ease;
  vertical-align: super;
  background: #fff;
  cursor: pointer;
  outline: none;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
 
}
._2hriZF ._2MlkI1, ._2hriZF ._2QfC02 {
  outline: none;
  position: relative;
}
._2hriZF ._2MlkI1 {
  min-width: 400px;
  max-width: 700px;
  min-height: 200px;
  max-height: 90vh;
  background: #fff;
  border-radius: 4px;
  margin: 0 auto;
  overflow:hidden;
}
*, :after, :before {
  box-sizing: border-box;
}
._3wFoIb {
  color: #212121;
  margin: 0 auto;
  border-radius: 2px;
  height: 528px;
  max-width: 750px;
  min-width: 650px;
}
._3wFoIb ._3oBhRa._4H6HH5 {
  background-image: url(https://static-assets-web.flixcart.com/www/linchpin/fk-cp-zion/img/login_img_c4a81e.png);
  background-position: center 80%;
  background-repeat: no-repeat;
}
._3wFoIb ._3oBhRa {
  background-color: #2874f0;
  color: #fff;
  padding: 40px 33px;
  font-size: 15px;
}
.col-2-5 {
 width:320px;
}
._3wFoIb ._3oBhRa ._36KMOx {
  font-size: 28px;
  font-weight: 500;
}
._3wFoIb ._3oBhRa ._1-pxlW {
  font-size: 18px;
  margin-top: 16px;
  line-height: 150%;
  color: #dbdbdb;
}

._36HLxm {
  padding: 56px 35px 16px;
  position: relative;
  background-color: #fff;
}
.col-3-5 {
  width:320px;
}
.IiD88i {
  position: relative;
  margin-bottom: 34px;
  font-size: 16px;
}
._2IX_2-:-webkit-autofill {
  box-shadow: inset 0 0 0 50px #fff;
}
._2IX_2- {
  padding: 8px 10px 10px 8px;
  width: 100%;
  color: #000;
  font-size: inherit;
  background: #fff;
  border: none;
  border-bottom: 1px solid #e0e0e0;
}
._36T8XR {
  position: relative;
  display: block;
  width: 100%;
}
._1fqY3P._3umUoc {
  transform: translateY(-18px) scale(.8);
}
._1fqY3P {
  color: #878787;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  pointer-events: none;
  left: 0;
  top: 0;
  transform: translateY(10px);
  transition: transform .2s ease;
  will-change: transform;
  transform-origin: left;
}
label {
  display: inline-block;
  margin-bottom: .5rem;
}
._3wFoIb {
  color: #212121;
  margin: 0 auto;
  border-radius: 2px;
  height: 528px;
  max-width: 750px;
  min-width: 650px;
}
._2hriZF._2rbIyg {
  pointer-events: auto;
  opacity: 1;
}
._2hriZF {
  /* position: fixed; */
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.6);
  z-index: 12;
  opacity: 0;
  outline: none;
  pointer-events: none;
  transition: opacity .2s;
}

.IiD88i {
  position: relative;
  margin-bottom: 34px;
  font-size: 16px;
}
._2IX_2-._3mctLh {
  padding-right: 60px;
}
._2IX_2-:-webkit-autofill {
  box-shadow: inset 0 0 0 50px #fff;
}
._2IX_2- {
  padding: 8px 10px 10px 8px;
  width: 100%;
  color: #000;
  font-size: inherit;
  background: #fff;
  border: none;
  border-bottom: 1px solid #e0e0e0;
}
input {
  outline: none;
}
button, input {
  overflow: visible;
}
button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
*, :after, :before {
  box-sizing: border-box;
}
._2_DUc_ {
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
  color: #2874f0;
}
._1_wZ0r, ._2QKxJ- {
  position: absolute;
  display: inline-block;
  bottom: 10px;
}
._2QKxJ- {
  right: 0;
}
.tyuip a, a {
  text-decoration: none!important;
}
a, img {
  text-decoration: none;
  color: inherit;
  border: none;
  outline: none;
}
._1Ijv5h {
  color: #878787;
  font-size: 12px;
  font-weight: 400;
}
._1D1L_j {
  margin-top: 10px;
}
._2KpZ6l._3AWRsL {
  background: #fb641b;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
  border: none;
  color: #fff;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
  cursor: pointer;
}
._3AWRsL {
  background: #fb641b;
  border: none;
  color: #fff;
  padding: 18px 8px;
  border-radius: 2px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
  float: right;
  width: 98%;
}
._2KpZ6l {
  display: inline-block;
  border-radius: 2px;
  color: #212121;
  padding: 10px 20px;
  font-size: 13px;
  font-weight: 500;
  transition: box-shadow .2s ease;
  vertical-align: super;
  background: #fff;
  cursor: pointer;
  outline: none;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
  border: 1px solid #e0e0e0;
}
._2HKlqd {
  font-family: inherit;
  width: 100%;
  height: 48px;
  font-size: 15px;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
}
._2YsvKq {
  position: relative;
  margin: 0 auto;
  width: 50px;
}
.o8qAfl {
  vertical-align: middle;
  width: 20px!important;
  margin-left: -30px!important;
  margin-right: 10px!important;
  display: none;
}
._2LJFE8 {
  animation: _3jdd-j 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
svg {
  overflow: hidden;
}
._3wFoIb {
  color: #212121;
  margin: 0 auto;
  border-radius: 2px;
  height: 528px;
  max-width: 750px;
  min-width: 650px;
}
._3wFoIb {
  color: #212121;
  margin: 0 auto;
  border-radius: 2px;
  height: 528px;
  max-width: 750px;
  min-width: 650px;
}
._2HKlqd._3NgS1a {
  border: none;
  line-height: 180%;
  text-align: center;
  color: #2874f0;
  background-color: #fff;
  margin-top: 16px;
}
._2KpZ6l {
  display: inline-block;
  border-radius: 2px;
  color: #212121;
  padding: 10px 20px;
  font-size: 13px;
  font-weight: 500;
  transition: box-shadow .2s ease;
  vertical-align: super;
  background: #fff;
  cursor: pointer;
  outline: none;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
  border: 1px solid #e0e0e0;
}
._2HKlqd {
  font-family: inherit;
  width: 100%;
  height: 48px;
  font-size: 15px;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
}
._1En5li {
  position: absolute;
  bottom: 32px;
  left: 0;
  right: 0;
  text-align: center;
}
_14Me7y {
  color: #2874f0;
  font-weight: 500;
}
















