body {
  margin: 0;
  background-color: #eee;
 
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*
Login  styles
*/
.lpsflog {
  font-size: 85px; color: lightgrey;
}
.lpsflog1 {
  background-color: rgb(254, 234, 184); padding: 9px;
}
.lpsflog3 {
  background-color: rgb(254, 242, 216); padding: 9px;
}
.lpsflog2 {
  color: rgb(247, 107, 56);
}
.lpsflog4 {
  font-size: 85px; color: lightgrey;
}
/*
My Account  styles
*/
.sformyacsn {
  font-size: 10px;
}
.sformyacsn1 {
  font-size: 10px; color: lightgrey;
}
.dropdownu {
  position: relative;
  display: inline-block;
}
.dropdown-contentu {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 200px;
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
  z-index: 1;
}
.dropitme:hover {
  background-color: #eee;
}
.promo-applied-icon {
  color: #36c246;
  font-size: 15px;
}
.fs-sm {
  font-size: .8571rem;
}
.dropdown-contentu .dropitme{
  color: #000;
  padding: 10px;
  text-decoration: none;
  display: block;
  font-size: 14px;
  text-align: left;
}
.dropdownu:hover .dropdown-contentu {
  display: block;
}

/*
User Profile styles
*/
.backgcolor {
  background-color: lightgrey;
}
#payment {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 #c8c8c8;
}
.unavstyle {
 background-color: rgb(238, 238, 238);
 
}
.fs-11 {
  font-size: .78571rem;
}
.fsf {
  font-size: 16px;
}
.unavfont {
  font-size: 15px;
 
  margin-right: 10px;
}
.unavfont1 {
  font-size: 10px; margin-left: 100px;
}
#abc {
  font-family: Rubik-Medium;
  font-size: 1.14286rem;
}
.unavfont2 {
  font-size: 10px; margin-right: 10px; 
}
#payment {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 #c8c8c8;
}
.row-tab {
  cursor: pointer;
  color: #fff;
  padding-top: 2px;
  background-color: #383f45;
  border-bottom: 1px solid rgba(51,51,51,.3);
  font: inherit;
  font-size: 13px;
  margin-left: 0px;
  margin: 0px;
}
.row-tab-selected {
  border-bottom: 1px solid rgba(51,51,51,.3);
  font: inherit;
  padding-top: 2px;
  font-size: 13px;
}

.row-tab-selected, .row-tab:hover {
  color: #fff;
  background-color: #f34f4f;
  text-decoration: none;
}
.ecashitem:hover {
  color:#f34f4f ;
}
.upsfuib {
  font-size: 35px; color: rgb(243, 79, 79);
}
.upsfuib1 {
  font-size: 30px; color: rgb(243, 79, 79);
}
.upsfuib2 {
  margin-left: 50px;
}
.upsfuib3 {
  font-size: 35px; color: rgb(243, 79, 79);
}
.upsfuib4 {
  font-size: 30px; color: rgb(243, 79, 79);
}
.upsfuib5 {
  margin-left: 50px;

}
.icons {
  border-bottom: 1px solid #e3e6ea;
  border-top: 1px solid #e3e6ea;
  margin-top: 0;
  background: #f0f3f5;
}
.copyright, .icons {
  padding: 20px 0 10px;
}
.icon-footer {
  margin-right: 10px;
  margin-left: 10px;
}
.icon-f {
  font-size: 25px;
  color: #2851a3;
}
.icon-t {
  font-size: 25px;
  color: #1da1f2;
}
.icon-y {
  font-size: 25px;
  color: red;
}
.sectionpf {
  color: #333;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 #c8c8c8;
  padding-top: 1.143rem;
  padding-bottom: 1.143rem;
  margin-top: 47px;
  margin-left: 3px;
}
.uprosps {
  font-size: 35px; color: rgb(243, 79, 79);
}
.uprosps1 {
  font-size: 1rem;
}
.backgroundcolor {
  background-color: lightgray;
}
#flight, #payment {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 #c8c8c8;
}
/*
payment page  style
*/
.fontstyle1 {
  font-family: "Rubik-Medium";
  font-weight: 400;
}
.pgsforfs {
  font-size: 20px;
}
.pgsforfs1 {
  font-size: 25px;
}
.pgsforfs2 {
  font-size: 12px;
}
#fs20 {
  font-size: .847rem;
  padding: 0;
}
#fs13, #fs20 {
  color: #333;
  font-family: Rubik-Medium;
}
#flight {
  padding-top: 1.143rem;
  padding-bottom: 1.143rem;
}
#fs16 {
  font-size: .7857rem;
  color: #333;
  font-family: Rubik-Regular,"Arial, Helvetica, sans-serif";
}
.ppsforles {
font-size: 16px;
}
.ppsforles1 {
  font-size: 1rem;
  }
.ppsforles2 {
 font-size: 1.7rem;
 }
.ppsforles3 {
width: 28px; height: 28px; border-radius: 6px;
}
.ppsforles4 {
  color: lightgray;
}
#fs20 {
  font-size: .847rem;
  padding: 0;
}
#fs13, #fs20 {
  color: #333;
  font-family: Rubik-Medium;
}
#fs18 {
  font-size: .847rem;
  color: #333;
  font-family: Rubik-Medium;
  padding: 0;
}


/*
user bookings  page  style
*/
.ubpsforsb {
  font-size: 28px; color: lightgrey;
}
.ubpsforsb1 {
  font-size: 14px; ;
}
.ubpsforsb2 {
  background-color: lightgrey;
}
.ubpsforsb3 {
  font-size: 26px; color: gray;
}
.ubpsforsb4 {
  border-left: 1px inset;
}
.fs-12 {
  font-size: .85714rem;
}
.font-lightestgrey {
  color: #999;
}
.footer-icon-p {
  border: 1px solid #999;
  border-radius: 2px;
  padding: 3px 7px;
  color: #999;
  cursor: pointer;
}
.ubpsforsbs {
  background-color: lightgrey;
}
.ubpsforsbs1 {
  font-size: 26px; color: gray;
}
.ubpsforsbs2 {
  font-size: 12px; ;
}
.ubpsforsbs3 {
  font-size: 15px; color: rgb(243, 79, 79);
}
.ubpsforsbs4 {
  color: lightgrey;
}
.ubpsforsbs5 {
  font-size: 14px; ;
}
.ubpsforsbs6 {
  color: grey;
}

.fecashs {
  background-color: white;
}













/*
booking style
*/
.body-payment {
  background-color: #e2e2e2;
}
.box-title {
  margin: 0 0 .7143rem;
  padding: 0;
  font-size: 1.429rem;
  -webkit-text-decoration: double;
  text-decoration: double;
  letter-spacing: -.2px;
  text-align: left;
  display: inline-block;
  color: #333;
  font-weight: 400;
  font-family: "Rubik-Medium";
}
#box2 {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 #c8c8c8;
  padding: 2.143rem 3.214rem;
}
.sforfds {
  padding-top: 12px;
}
.sforfds1 {
  width: 40px;
}
.sforfds2 {
background-color: rgb(255, 252, 199); padding: 8px 15px 7px; border-radius: 80px
}
.fs-base {
  font-size: 1rem;
}
#fs11 {
  font-size: .8571rem;
  color: #666;
  font-family: Rubik-Regular,"Arial, Helvetica, sans-serif";
}
.note-block-new {
  position: relative;
  background: #fffcc7;
  border: 1px solid #fffcc7;
  border-radius: 3px;
  padding: 8px}

.two-dots {
  line-height: 0;
  margin-top: 13px!important;
  margin-bottom: 13px!important;
  position: relative;
  text-align: center;
  color: #999;
}
.noteblocks {
  font-weight: 500;
  font-size: .8571rem;
  line-height: 15px;
  font-family: "Rubik-Regular","Arial, Helvetica, sans-serif";
}
ul {
  padding: 0;
  margin: 0;
 
  list-style-type: none;
  font-size: .8571rem;
}
li {
  font-weight: 500;
  font-size: .8571rem;
  line-height: 20px;
  font-family: "Rubik-Regular","Arial, Helvetica, sans-serif";
}
#fs10 {
  font-size: 1.429rem;
}
#fs10, #fs14 {
  font-family: Rubik-Medium;
}
#fs14 {
  font-size: 1rem;
  color: #333;
}
.sforcans {
  background-color: rgb(255, 252, 199);
}
.sforcans1 {
  color: green;
}
.inputcans {
 margin-left: 15px;
}
.sforcans3 {
 
 padding-top: 0px;
 padding-bottom: 7px;
 margin: 0px;
}
.sforcans4 {
  font-size: 30px; color: red;
}
.svg-inline--fa {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}
.box-title {
  margin: 0 0 .7143rem;
  padding: 0;
  font-size: 1.429rem;
  -webkit-text-decoration: double;
  text-decoration: double;
  letter-spacing: -.2px;
  text-align: left;
  display: inline-block;
  color: #333;
  font-weight: 400;
  font-family: "Rubik-Medium";
}
form {
  display: block;
  margin-top: 0em;
}
.idftfs {
  color: rgb(102, 102, 102); font-size: 1rem;
}
.idftfs1 {
  color: green; font-size: 18px;
}

.idftfs2 {
  font-size: 1rem;
}
.idftfs3 {
  color: rgb(102, 102, 102); font-size: 1rem;
}
.idftfs4 {
  font-size: 35px;
}
.idftfs5 {
  color: rgb(102, 102, 102); font-size: 1rem;
}
.idftfs6 {
  font-size: 35px;
}
.idftfs7 {
  font-size: 30px; color: red;
}
#fs10 {
  font-size: 1.429rem;
}
.pcsfort {
  color: rgb(219, 154, 0);
}
.pcsfort1 {
  font-size: 0.87rem;
}
.pcsfort2 {
  font-size: 1rem;
}
.pcsfort3 {
  font-size: 0.87rem; font-family: Rubik-Regular, Arial, Helvetica, sans-serif;
}

.svg-inline--fa{
  margin-top: 15px;
  margin-left: 10px;
  height: 1em;
  width: 1.25em;
}
.fs-md {
  font-size: 1.143rem!important;
}
#box3, #box4 {
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 #c8c8c8;
  margin-left: 1.8px;
}
#box3 {
  background: #fff;
  padding: 1.143rem 1.214rem;
}
#fs11 {
  font-size: .8571rem;
  color: #666;
  font-family: Rubik-Regular,"Arial, Helvetica, sans-serif";
}
#fs12, #sh1 {
  font-family: Rubik-Medium;
}
#fs12 {
  font-size: 1.25rem;
  color: #333;
}
#fs13 {
  font-size: 1.714rem;
}
#fs13, #fs20 {
  color: #333;
  font-family: Rubik-Medium;
}
#box4 {
  color: #666;
  background: #f5f5f5;
  font-size: 1.714rem;
}
.bsforpc {
  font-size: 12px; color: rgb(2, 203, 102);
}
.bsforpc1 {
  font-size: 12px; color: rgb(153, 153, 153);
}
#promobox {
  display: inline-block;
  margin-bottom: .5rem;
  border: 1px dashed #02cb66;
  padding: 3px 10px;
  color: #02cb66;
  font-size: 12px;
  font-family: Rubik-Medium;
}
.ppfpsb {
  border-radius: 2px;
}




/*
navbar style
*/
.nbddhs {
  font-size: 10px;
}
.nbddhis {
  font-size: 35px;
  color:lightgrey;
}
.header-container {
  padding-top: 15px;
  padding-bottom: 7px;
  padding-left: 0px;
  background-color: #fdfbfb;
  margin-left: 15px;
}
.icon-header {
  font-weight: 400;
  color: #666;


  font-size: 14px;
}
.icon-header:hover {
  color:rgb(233, 61, 61);
}
.dropdown {
  position: relative;
  display: inline-block;
  
}
 .dropbtn1 {
  padding: 14px;
  font-size: 14px;
  border: none;
  font-family: Rubik,sans-serif;
  font-weight: 400;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 200px;
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
  z-index: 1;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.yatra-header {
  height: 39.5px;
  width: 88px;
  display: inline-block;
  background-size: 88px 39.5px;
}
.header-container {
  padding: 15px 0 0;
  background-color: #fdfbfb;
  margin-left: 15px;
}
.pgLogIn {
  font-size: 14px;
  border: 1px solid #ea2330;
  border-radius: 2px;
  width: 100%;
  color: #fff;
  font-size: 1em;
  background-color: #ea2330;
  width: 62px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-left: 2px;
}
.pgSignUp {
  background-color: #fff;
  color: #ea2330;
  margin-left: 15px;
  padding-top: 6px;
  padding-bottom: 6px;
  border: 1px solid #ea2330;
  width: 100%;
  font-size: 14px;
}
.row {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

/*
home page style
*/

.hpdis {
  height: 100%;
  
}
.hpdis1 {
  height: 100%;
  object-fit: cover;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  display: block;
}
.text14 {
  font-size: 14px;
}
.fontstyle {
  font-family: "Rubik-Regular","Arial, Helvetica, sans-serif";
}

.smooth-banner-transition {
  transition: all .2s ease;
  width: 500px;
  overflow: hidden;
  border-right: 1px solid #e4e4e4;
  box-shadow: 0 0 25px rgb(0 0 0 / 30%);
  background: #fff;
  border-radius: 6px;
  z-index: 10;
  margin-top: 50px;
  margin-bottom: 30px;
 
  color: #333;
  font: normal 1em/18px Rubik,sans-serif;
  line-height: 1;
  font-size: 14px;
}

.iccolor {
  color:red;
}
.icolor {
  color:black;
}


.returnbss {
  font-size: .71429em;
    padding: 7px 25px;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 4px;
    margin-right: 4px;
}
.mrright {
  margin-right:1px;

}
.benotactive {
  
  background-color: #fff;
  border: 1px solid #e4e4e4;
}
.beactive {
  color: #f34f4f;
    border: 1px solid #f34f4f;
}
.gtyupi {
  color: #999;
  -webkit-transform: translateY(-30px) scale(.75);
  transform: translateY(-30px) scale(.75);
  font-weight: 400;
  top: 32px;
  margin-bottom: 8px;
}
.yt-input-text {
  background-color: transparent!important;
  padding: 10px 15px 10px 0;
  text-transform: capitalize;
  border: 0;
  border-bottom: 1px solid #e4e4e4;
  color: #333;
  outline: 0;
  z-index: 9;
  position: relative;
  font-size: 20px;
  font-weight: 500;
  height: 40px;
  border-radius: 0;
  font: normal 1.143em/20px Rubik,sans-serif;
  overflow: hidden;
}
.yt-booking-engine-snipe {
  position: relative;
  top: 30px;
  height: 32px;
  padding: 7px 6px;
  border-radius: 50%;
  border: 1px solid #ea2330;
  width: 32px;
  display: block;
  left: 2px;
}
.beSwapCity {
  margin: 0;
  opacity: 1;
  height: 14px;
  width: 17px;
}
.gtyupi {
  color: #999;
  -webkit-transform: translateY(-30px) scale(.75);
  transform: translateY(-30px) scale(.75);
  font-weight: 400;
  top: 32px;
  margin-bottom: 8px;
}
.date-text {
  font-weight: 700;
  font-size: 16px;
  margin-top: 8px;
}
.traveller-text {
  font-weight: 700;
  font-size: 14px;
  margin-top: 5px;
  
}
.cps {
  cursor: pointer;
}
.sbsff {
  margin-top: 82px;
}
.yt-booking-engine-snipe-button {
  width: auto;
  border-radius: 4px;
  background: #ea2330;
  padding: 12px 35px 12px 15px!important;
  margin-bottom: 20px;
  letter-spacing: 1px;
  color: #fff!important;
  cursor: pointer;
  font-weight: 500;
  min-height: 50px;
  text-align: left;
  font-size: 14px!important;
}



/*
Flights search page Details styles

*/
/*
Filter navbar styles

*/
.mufns {
 margin-left: 10px;
}
.mufns1 {
  margin-left: 5px;
}
.fnavsforf {
  box-shadow: rgb(255, 162, 162) 0px 2px 4px 0px;
}
.t14 {
  font-size: 14px;
}
.expand {
  
  position: absolute;
  z-index: 1;
  width: 100%;
  color: #666;
  font-size: .92857rem; 
  background-color: #fff;
}
.fsfs {
  font-size:14px;
}










/*
Flights search Details navbar styles

*/
.ppdnbs {
  background:linear-gradient(to right, rgb(183, 36, 58), rgb(19, 37, 34));
  color:white;
}
.ppdnbs1 {
  font-size: 25px;
}

.ppdnbs11 {
 font-size: 0.71429rem;
 font-family: Rubik-Medium;
}
.ppdnbs12 {
  font-size:1.14286rem;
  font-family: Rubik-Medium;
 }
 .fs-14 {
  font-size: 1rem;
}
.btn-submit {
  padding: 11px 26px 10px 22px;
  background-color: #f34f4f;
  color: #fff;
  border-radius: 4px;
  border: 0;
}
.bold {
  font-family: "Rubik-Medium";
  font-weight: 400;
}
.t5 {
  font-weight: 500;
}
.bgcolor {
  background-color:#eee;
}
.psfswss {
  background-color: rgb(229, 231, 235);
  border-radius: 3px;
   margin-left: 7px;
}
.psfswss1 {
  cursor: pointer; font-size: 0.78571rem;
}
.adsstylefsf {
  width: auto;
}
/*
Single Way flight Search styles

*/
#book {
    font-size: 1rem;
    border-radius: 4px;
    font-family: Rubik-Medium;
    border: 2px solid #f34f4f;
    color: #f34f4f;
    cursor: pointer;
}
.deal-tag {
  padding: 2px 3px;
  color: #fff;
  border-radius: 2px;
  max-width: 28px;
  height: auto;
  background: #36c24d;
  font-family: "Rubik-Medium";
  font-size: .57143rem;
}
.deal {
  border-bottom: 1px solid #e2e2e2;
  padding: 6px 10px;
  font-family: "Rubik-Regular";
}
.content {
  width: 85%;
  color: #666;
  font-size: .85714rem;
}
.flight-det {
  margin-top: 5px;
}
.flight-details {
  color: #fff;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  font-size: 14px;
  font-family: "Rubik-Regular";
}
.header {
  background: #301b41;
  padding: 7px 16px 13px;
  opacity: .9;
  font-family: "Rubik-Medium";
  font-size: 1.14286rem;
}
.contents {
  color: #333;
  padding: 20px 0 10px;
  border-bottom-left-radius: 6px;
  background: #fff;
}
.font-lightestgrey {
  color: #999;
}
.fs-16 {
  font-size: 1.14286rem;
}
.fs-12 {
  font-size: .85714rem;
}
.fs-13 {
  font-size: .92857rem;
}
.greyed {
  color: hsla(0,0%,100%,.6);
}
.amen-details {
  padding: 5px 25px;
  background: #f9f9f9;
  border-radius: 8px;
  font-size: 14px;
  margin-left: 3px;
  margin-right: 3px;
}
.sforowfes {
  width: 28px; height: 28px; border-radius: 5px;
}

.sforowfes1 {
  font-size: 0.92857rem; font-family: Rubik-Regular;
}
.sforowfes2 {
  font-size: 0.78571rem; font-family: Rubik-Regular; color: rgb(153, 153, 153);
}
.sforowfes3 {
  font-size: 1.07143rem; font-family: Rubik-Regular; font-weight: 400;
}

.sforowfes4 {
  font-size: x-small;
}

.sforowfes5 {
  border-left: 3px solid lightgrey; height: 60px;
}
.sforowfes6 {
  font-size: 0.78571rem; font-family: Rubik-Regular;
}

.sforowfes7 {
  font-size: 1.28571rem;
}
.sforowfes8 {
  width: 40px;
}

.sforowfes9 {
  font-size: 14px;
}
.sforowfes10 {
  font-size: 10px;
}
.sforowfes11 {
  background-color: rgb(90, 66, 109); color: white;
}
.sforowfes12 {
  width: 45px;
}

.sforowfes13 {
  padding: 0px; margin: 0px;
}
.onewaybox {
  transition: box-shadow .3s;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 0 6px 0 rgb(0 0 0 / 36%);
  margin-bottom: 40px;
}
.onewaybactive {
  transition: box-shadow .3s;
  border-radius: 6px;
  background: #fff;
  margin-bottom: 40px;
  box-shadow: 0 0 5px #00f;
}
.yt-row-footer {
  font-size: 12px;
  color: #3691ca;
  cursor: pointer;
  font-size: .85714rem;
  text-decoration: none;
}
#rect1 {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #ffd302;
  border: 1px solid #d3d3d3;
}
#rect, #rect1 {
  height: 15px;
  width: 5px;
  font-size: .78571rem;
}
#rect {
  background-color: #fff;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid #d3d3d3;
}

/*
return flight Search styles

*/
.rfbsfs {
  border:1px solid lightgrey;
}
#fs9 {
  font-size: 1.07143rem;
  font-weight: 400;
}
#fs8, #fs9 {
  font-family: Rubik-Regular;
}
#fs8 {
  font-size: 10px;
}
.nofthsf {
  background-color: rgb(229, 231, 235); 
  border-radius: 3px; 
  margin-left: 7px; 
  font-size: 0.78571rem;
}
.namestfrf{
  font-size: x-small;
}
.bottomheaders {
  background-color: rgb(67, 38, 78); color: white;
}
.bottomheaders1 {
  width: 40px;
   border-radius: 6px;
}
.bomhrs {
  font-size: 0.85714rem;
}
.bomhrs1 {
  border-color: white;
}
.bomhrs2 {
  font-size: 0.85714rem;
}
.bomhrs3 {
  font-size: 1.57143rem;
}
.rfinfosize {
  font-size: 6px;
}





















.rowNameStyle {
  padding-top: 7px;
}
.bookedSeat {
  background-color: green;
  color:white;
  
  box-shadow: 0px 0px 1px green;
  
  border-radius: 5px;
  border:1px solid lightgrey;
}
.availableStyle {
  background-color:lightgrey;
}
.codeStyle {
  width:70%;
}
.seatStyle {
  border:1px solid lightgrey;
 
  margin-right:3px;
  border-radius: 4px;
  width:25px;
  text-align: center;
  display: inline-block;

}
.textcolor {
  color:white;
}
.selectedTimeStyle {
  background-color: green;
  color:white;
  margin:10px;
  box-shadow: 0px 0px 5px green;
  padding:7px;
  border-radius: 5px;
  border:1px solid lightgrey;
}
.onEnterTimeEffect {
  background-color: lightgreen;
  margin:10px;
  padding:7px;
  border-radius: 5px;
  border:1px solid lightgrey;
}
.fsize {
  font-size: 45px;
}
.dateStyle {
  margin:10px;
  padding:7px;
  border-radius: 5px;
  border:1px solid lightgrey;
}
.selectedDateStyle {
  margin:10px;
  padding:7px;
  border-radius: 5px;
  background-color: lightgreen;;
  border:1px solid green;
  text-align: center;
  font-weight: bold;


}
.genreStyle {
  margin:3px;
  border:1px solid black;
  border-radius: 20px;;
  padding: 2px;
}
.limg {
  width:80%;
  
}
.backeffect {
  background-color:#EDE5E4;
}
.youtube {
  color:red;
  font-size:50px;

}
.adimg {
  width:98%;
  height: auto;
}
.mstyle{
  margin:5px;
}
.bstyle {
  border-radius: 10px;
}
.sfield {
  width:250px;
  display:inline-block;
}
.ticon {
 font-size:35px;
}
.pimg {
  width:96%;
  
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.tcolor {
  color:white;
}
.bcolor {
  background-color: rgb(166, 209, 162);
}
.hcolor {
background-color: lightgray;
}











